*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    width: 100%;
    background:#0c111b;
     position: relative;
    font-family: roboto,sans-serif;

}
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}
.logo{
    height: 70px;
}
.navbar-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}
.items a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;
    opacity: 0 9;
}
.right-container{
    display: block;
    margin-left: auto;

}
.search-text{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    width: 250px;
    color: #fff;
    font-size: 16px;
    font-size: 500;
    transition: 0.5s;
}
.sub-button{
    background: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px;
    text-transform: uppercase;
}
.login{
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}