* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: #000000;
    font-family: roboto, sans-serif;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
}

.navbar-links {
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.items a {
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;
    opacity: 0 9;
}

.right-container {
    display: block;
    margin-left: auto;

}

.search-text {
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    width: 250px;
    color: #fff;
    font-size: 16px;
    font-size: 500;
    transition: 0.5s;
}

.sub-button {
    background: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px;
    text-transform: uppercase;
}

.login {
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.bannerp {
    height: 500px;
    width: 100vw;
    background: #000000;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    overflow-y: hidden;
}

.bannerp::-webkit-scrollbar {
    display: none;
}

.content {
    height: 480px;
    min-width: 1300px;
    background: #000000;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 60px;
    scroll-snap-align: center;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
}

.info {
    height: 500px;
    width: 700px;
    background-color: #000000;
    margin: 30px 0px;
    margin-right: -150px;
    position: relative;
    -webkit-box-shadow: 43px -1px 38px 20px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 43px -1px 38px 20px rgba(0, 0, 0, 0.84);
    box-shadow: 43px -1px 38px 20px rgba(0, 0, 0, 0.84);
}

.info h1 {
    color: #fff;
    margin-top: 150px;
    margin-left: 50px;
    font-family: Roboto, HelveticaNeue-Light, sans-serif;
    font-size: 28px;
    line-height: 16px;
    letter-spacing: normal;
    font-weight: 600;
}

.info p {
    color: #fff;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: normal;
}

.content img {
    position: relative;
    height: 400px;
    width: 900px;
    margin: 30px 0px;
    border-radius: 10px;
}

.title{
    height: 50px;
    width: 100vw;
}
.title h1{
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    font-family: Roboto, HelveticaNeue-Light, sans-serif;
    margin-left: 40px;
}

.moviesp {
    height: 250px;
    width: 100vw;
    background: #000000;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    margin-bottom: 30px;
}

.moviesp::-webkit-scrollbar {
    display: none;
}
.moviesp img {
    height: 230px;
    min-width: 150px;
    background: #000000;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 10px;
}
